<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationlab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationLab">
        <activity android:name=".FinderRequestPageActivity"></activity>
        <activity android:name=".Login2Activity" />
        <activity android:name=".FinderHomeActivity" />
        <activity android:name=".ProviderHomeActivity" />
        <activity android:name=".AdminRequestActivity" />
        <activity android:name=".FinderRequestActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".HospitalDetailsActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.MyApplicationLab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".Provider_registration" />
        <activity android:name=".Finder_Registration_Activity" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>